mixin header()
	header.header
		//- ВЕРХ С КОНТАКТАМИ
		.header-contacts
			.workspace
				a(href="#"): img(src="../../images/icons/Logo.svg")
				button(onClick='openInfo()').header-contacts__work-hours
					p #[span Mon-Thu:] 9:00 AM - 5:30 PM
					img(src='../../images/work-hour-arrow.svg')
				.header-contacts__adress
					p Visit our showroom in 1234 Street Adress City Address, 1234
					a(href="#") Contact us 
				.header-contacts__phone
					p Call Us: (00) 1234 5678
					.header-contacts__networks
						a(href="#"): img(src="../../images/icons/facebook.svg")
						a(href="#"): img(src="../../images/icons/instagram.svg")
		//- ВСПЛЫВАЮЩЕЕ ОКНО С ВРЕМЕНЕМ РАБОТЫ
		.shop-info
		//- НАВИГАЦИОННАЯ ПАНЕЛЬ
		.header-nav
			.workspace
				//- МЕНЮ
				.header-nav_menu
					button.header-nav_menu__open-button: img(src="../../images/menu-button.svg")
					.header-nav_menu_search
						form
							input(type="search" placeholder="Search for goods")
							button(type="submit"): img(src="../../images/icons/search-icon.svg")
					a(href="#").header-nav_menu__logo: svg(width='46' height='41' viewbox='0 0 46 41' fill='none' xmlns='http://www.w3.org/2000/svg'): path(d='M22.7474 8.28638L13.6902 14.1799V21.4334L22.7474 27.3268L30.0131 22.7934V24.9468L22.7474 29.7069L13.6902 23.7001V26.3068L22.7474 32.087L31.8047 26.3068V19.0533L24.539 23.7001V21.4334L31.8047 16.6733V14.1799L22.7474 8.28638Z' fill='white')
					ul.header-nav_menu_categories
						li: a(href="#") Laptops
						li: a(href="#") Desktop PCs
						li: a(href="#") Networking Devices
						li: a(href="#") Printers & Scanners
						li: a(href="#") PC Parts
						li: a(href="#") All other products
						li: a(href="#") Repairs
					button.header-nav_menu__our-deals Our Deals
					button.header-nav_menu__search: svg(width='17' height='17' viewbox='0 0 17 17' fill='black' xmlns='http://www.w3.org/2000/svg'): path(d='M2.68653 1.89208C1.58789 2.98911 0.948891 4.46378 0.899762 6.01558C0.850632 7.56738 1.39507 9.07951 2.42212 10.2438C3.44917 11.4082 4.88154 12.1371 6.42733 12.282C7.94343 12.4241 9.45672 11.994 10.6706 11.0782L13.8232 14.2315L13.8232 14.2316C13.9022 14.3105 13.9959 14.3732 14.0991 14.4159C14.2023 14.4586 14.3129 14.4806 14.4246 14.4806C14.5362 14.4806 14.6468 14.4586 14.75 14.4159C14.8532 14.3732 14.9469 14.3105 15.0259 14.2316C15.1049 14.1526 15.1675 14.0588 15.2102 13.9557C15.253 13.8525 15.275 13.7419 15.275 13.6302C15.275 13.5185 15.253 13.408 15.2102 13.3048C15.1675 13.2016 15.1049 13.1079 15.0259 13.0289L15.0259 13.0289L11.8728 9.87648C12.7861 8.66247 13.2143 7.1502 13.0714 5.63555C12.9256 4.09105 12.1969 2.6601 11.0336 1.6338C9.87019 0.607497 8.35954 0.0629467 6.80892 0.110929C5.25831 0.158912 3.78422 0.795817 2.68653 1.89208ZM2.68653 1.89208L2.75719 1.96285L2.68653 1.89208ZM10.1121 3.09538C10.5261 3.50273 10.8554 3.98803 11.0809 4.52328C11.3065 5.05853 11.4238 5.63314 11.4262 6.21397C11.4286 6.79479 11.3159 7.37034 11.0947 7.90741C10.8735 8.44448 10.5482 8.93244 10.1375 9.34315C9.72679 9.75386 9.23882 10.0792 8.70175 10.3004C8.16468 10.5216 7.58914 10.6342 7.00831 10.6318C6.42748 10.6295 5.85287 10.5121 5.31762 10.2866C4.78237 10.061 4.29707 9.73175 3.88972 9.31771C3.07566 8.49028 2.62154 7.3747 2.62626 6.21397C2.63099 5.05323 3.09419 3.94139 3.91496 3.12061C4.73573 2.29984 5.84757 1.83665 7.00831 1.83192C8.16905 1.82719 9.28463 2.28132 10.1121 3.09538Z' fill='black' stroke='#CACDD8' stroke-width='0.2')
					.header-nav_menu__cart
						a(href="#"): svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'): path(d='M15.8771 23.4215C16.4786 23.4215 17.0555 23.1826 17.4809 22.7572C17.9062 22.3318 18.1452 21.7549 18.1452 21.1534C18.1452 20.5518 17.9062 19.9749 17.4809 19.5496C17.0555 19.1242 16.4786 18.8852 15.8771 18.8852C15.2755 18.8852 14.6986 19.1242 14.2732 19.5496C13.8479 19.9749 13.6089 20.5518 13.6089 21.1534C13.6089 21.7549 13.8479 22.3318 14.2732 22.7572C14.6986 23.1826 15.2755 23.4215 15.8771 23.4215ZM7.93855 23.4215C8.5401 23.4215 9.11701 23.1826 9.54237 22.7572C9.96773 22.3318 10.2067 21.7549 10.2067 21.1534C10.2067 20.5518 9.96773 19.9749 9.54237 19.5496C9.11701 19.1242 8.5401 18.8852 7.93855 18.8852C7.337 18.8852 6.76009 19.1242 6.33473 19.5496C5.90937 19.9749 5.67041 20.5518 5.67041 21.1534C5.67041 21.7549 5.90937 22.3318 6.33473 22.7572C6.76009 23.1826 7.337 23.4215 7.93855 23.4215ZM22.7246 7.45719C23.0077 7.44806 23.2762 7.32917 23.4732 7.12568C23.6702 6.92218 23.7804 6.65003 23.7804 6.36678C23.7804 6.08352 23.6702 5.81137 23.4732 5.60788C23.2762 5.40438 23.0077 5.2855 22.7246 5.27637H21.4193C20.3963 5.27637 19.5118 5.9863 19.2895 6.98428L17.8685 13.3827C17.6462 14.3807 16.7616 15.0906 15.7387 15.0906H7.21955L5.58422 8.54703H16.1821C16.4626 8.53423 16.7273 8.41382 16.9212 8.21084C17.1151 8.00785 17.2234 7.73792 17.2234 7.45719C17.2234 7.17645 17.1151 6.90652 16.9212 6.70354C16.7273 6.50055 16.4626 6.38014 16.1821 6.36734H5.58422C5.25269 6.36725 4.9255 6.44274 4.62753 6.58807C4.32956 6.73341 4.06864 6.94477 3.86462 7.20609C3.6606 7.4674 3.51884 7.77179 3.45012 8.09612C3.3814 8.42045 3.38753 8.75617 3.46804 9.07778L5.10337 15.6191C5.22126 16.0911 5.49359 16.5101 5.87704 16.8095C6.2605 17.1089 6.73305 17.2715 7.21955 17.2714H15.7387C16.7312 17.2716 17.6942 16.9332 18.4684 16.3121C19.2426 15.6911 19.7819 14.8246 19.9971 13.8556L21.4193 7.45719H22.7246Z' fill='white')
						num.header-nav_menu__cart_num 2
					button.header-nav_menu__user-profile: svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'): path(d='M10 3.5415C10.8841 3.5415 11.7319 3.89269 12.357 4.51781C12.9822 5.14294 13.3333 5.99078 13.3333 6.87484C13.3333 7.75889 12.9822 8.60674 12.357 9.23186C11.7319 9.85698 10.8841 10.2082 10 10.2082C9.11595 10.2082 8.26811 9.85698 7.64299 9.23186C7.01787 8.60674 6.66668 7.75889 6.66668 6.87484C6.66668 5.99078 7.01787 5.14294 7.64299 4.51781C8.26811 3.89269 9.11595 3.5415 10 3.5415ZM10 11.8748C13.6833 11.8748 16.6667 13.3665 16.6667 15.2082V16.8748H3.33334V15.2082C3.33334 13.3665 6.31668 11.8748 10 11.8748Z' fill='white')
				//- ПОИСК (ДЛЯ МОБИЛЬНОЙ ВЕРСИИ)
				.header-nav_search
					form
						input(type="search" placeholder="Search for goods")
						button(type="submit"): img(src="../../images/icons/search-icon.svg")
