mixin header()
	header.header
		.header-contacts
			.workspace
				button(onclick='openInfo()').header-contacts__work-hours
					p #[span Mon-Thu:] 9:00 AM - 5:30 PM
					img(src='../../images/work-hour-arrow.svg')
				.header-contacts__adress
				.header-contacts__phone
					p Call Us: (00) 1234 5678
		.shop-info
		.header-nav