extends ./layout/layout
include ./components/slider-msi
include ./components/new-products

block variables
    - var page_title = 'Главная';
    - var standart_title = 'EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...';
    - var standart_price = '$499'

block content 
    +slider-msi
    +new-products
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='../js/bundle.js')