include product-card

mixin new-products()
	.workspace
		.new-products__head
			h1 New Products
			a(href="#") See All New Products 
		.new-products.swiper-container 
			.new-products__wrapper.swiper-wrapper
				.new-products__slide.swiper-slide
					+product-card('yes','../../images/new-products/1.svg',standart_title,standart_price)
				.new-products__slide.swiper-slide
					+product-card('no','../../images/new-products/2.svg',standart_title,standart_price)
				.new-products__slide.swiper-slide
					+product-card('yes','../../images/new-products/3.svg',standart_title,standart_price)
				.new-products__slide.swiper-slide
					+product-card('yes','../../images/new-products/4.svg',standart_title,standart_price)
				.new-products__slide.swiper-slide
					+product-card('yes','../../images/new-products/3.svg',standart_title,standart_price)
				.new-products__slide.swiper-slide
					+product-card('yes','../../images/new-products/3.svg',standart_title,standart_price)
			.swiper-button-prev
			.swiper-button-next
