mixin slider-msi()
	.workspace
		.slider-msi.swiper-container 
			.slider-msi__wrapper.swiper-wrapper
				.slider-msi__slide.swiper-slide
					.slider-msi__image
						img(src="../../images/slide-msi.png")
				.slider-msi__slide.swiper-slide
					.slider-msi__image
						img(src="../../images/slide-msi.png")
				.slider-msi__slide.swiper-slide
					.slider-msi__image
						img(src="../../images/slide-msi.png")
			.swiper-button-prev
			.swiper-button-next